/* form {
  display: block;
} */

body {
  background-color: #000000;
  color: darkgrey;
}

form {
  text-align: center;
  width: 50%;
  margin-right: 20%;
  margin-left: 20%;
}

input[type=text],
input[type=number] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #0d221a;
  color: white;
}

input[type=submit] {
  width: fit-content;
  float: right;
}

label {
  float: left;
  margin-left: 25%;
}
textarea{
  width: 50%;
  height: auto;
}